$white: #FFF;
$candyPink: #F56668;
$tartOrange: #FF3E41;
$jet: #363537;
$cultured: #e5e5e5;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

nav {
    width: 100%;
    height: 55px;
    background-color: $white;
    border-bottom: 2px $jet solid;

    #nav-div {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-between;
        height: 100%;
        margin: auto;

        div {
            align-self: center;

            svg {
                height: 35px;
                width: 35px;
            }
        }

        #menu {

            .bar {
                display: block;
                background-color: $jet;
                width: 25px;
                height: 3.3px;
                margin: 5px auto;

            }
        }

        #menu:hover {
            cursor: pointer;
        }

        ul {
            align-self: center;

            li {
                list-style-type: none;
                margin-left: 20px;
                font-size: 17px;
                display: inline;

                a {
                    color: $jet;
                    font-weight: 700;
                }

                a:hover {
                    color: $tartOrange;
                }
            }

            li:hover {
                cursor: pointer;
            }
        }
    }
}

@mixin product-image-style {
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    background-color: $tartOrange;
    border: none;
    border-radius: 6px;
    color: $white;

    a {
        color: $white;
    }
}

button:hover {
    background-color: $candyPink;
    cursor: pointer;
}

a:focus,
button:focus {
    outline: none;
}

section {
    width: 100vw;
}

#home {
    background-image: url(../Images/home-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 700;
        letter-spacing: -0.4px;
        color: $jet;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }
}

#products-grid {
    padding: 50px 0;
    background-color: $white;
    height: fit-content;

    h2,
    #intro {
        margin: auto;
        max-width: 750px;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        color: $tartOrange;
        font-size: 24px;
    }

    #intro {
        font-weight: 400;
        word-wrap: break-word;
        width: 500px;
        text-align: center;
        padding: 6px 0 0 0;
        line-height: 1.7;
        color: $jet;
        letter-spacing: 0.1px;
    }

    #cart-btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto;
        max-width: 770px;
    }

    #products-grid1 {
        padding: 50px 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-row-gap: 35px;
        margin: auto;
        max-width: 850px;

        #pizza {
            background-image: url(../Images/pizza.jpg);
            @include product-image-style();
        }

        #burger {
            background-image: url(../Images/burger.jpg);
            @include product-image-style();
        }

        #french-fries {
            background-image: url(../Images/french-fries.jpg);
            @include product-image-style();
        }

        #hot-dog {
            background-image: url(../Images/hotdog.jpg);
            @include product-image-style();
        }

        #donut {
            background: url(../Images/donut.jpg);
            @include product-image-style();
        }

        #shawarma {
            background: url(../Images/shawarma.jpg);
            @include product-image-style();
        }

        .each-product:hover {
            box-shadow: 0px 10px 20px 5px #cdcdcd;
            cursor: pointer;
        }

        .each-product {
            display: flex;
            flex-direction: row;
            width: 240px;
            height: 240px;
            border-radius: 10px;

            .cost-name {
                display: flex;
                flex-direction: column;
                position: relative;
                height: fit-content;
                top: 179px;
                width: 53%;
                background-color: $cultured;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                padding: 5.5px 9px;
                margin: 0 0 0 10px;

                h3 {
                    font-size: 17px;
                    font-weight: 700;
                    color: $tartOrange;
                    letter-spacing: 0.2px;
                }

                p {
                    color: $jet;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            .item-number {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                height: fit-content;
                top: 179px;
                background-color: $cultured;
                padding: 14px 4px;
                width: fit-content;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                svg {
                    margin: 0 4.5px;
                }

                svg:hover {
                    cursor: pointer;
                }

                p {
                    font-weight: 700;
                    color: $jet;
                    font-size: 19px;
                    color: $tartOrange;
                }
            }
        }
    }
}

#contact {
    background-color: $cultured;
    padding: 30px 0 18px 0;
    height: fit-content;

    h3,
    footer {
        text-align: center;
    }

    h3 {
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.4px;
        color: $jet;
        margin-bottom: 35px;
    }

    form {
        margin: auto;
        max-width: fit-content;

        input {
            padding: 10px 8px;
            width: 270px;
            margin-right: 20px;
            border: 2px $tartOrange solid;
            border-radius: 4px;
            background-color: $white;
            letter-spacing: 0.7px;
            font-size: 15px;
            font-weight: 400;
        }
    }

    footer {
        margin-top: 40px;
        font-weight: 400;
        font-size: 16px;
    }
}

#cart-page {
    width: 100%;

    #go-back {
        position: relative;
        top: 100px;
        left: 57%;
    }

    #cart-display-grid {
        display: flex;
        flex-direction: row;
        background-color: $cultured;
        width: fit-content;
        position: relative;
        top: 30px;
        left: 50%;
        transform: translate(-50%, 30px);
        padding: 20px 0;
        border-radius: 15px;

        .cart-cols {
            display: flex;
            flex-direction: column;
            margin: 0 30px;
            width: fit-content;

            h5 {
                font-weight: 700;
                font-size: 23px;
                color: $tartOrange;
                text-align: center;
                letter-spacing: 0.1px;
            }

            p {
                text-align: center;
                font-size: 21px;
                letter-spacing: 0.3px;
                color: $jet;
                font-weight: 700;
            }

            #item-name-col,
            #quantity-col,
            #cost-col {
                margin-top: 20px;
                line-height: 2;
            }
        }
    }
}

//900px min width
@media screen and (min-width: 900px) {
    #menu {
        display: none;
    }
}

//950px max width
@media screen and (max-width: 950px) {
    ul {
        position: fixed;
        left: -100%;
        top: 3rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: $white;
        transition: 0.15s ease-in;

        li {
            margin: 10px 0;
        }
    }

    ul.active {
        left: 0;
        border-bottom: 2px $jet solid;
        transition: 0.15s ease-in;
    }

    #menu {
        display: block;
    }

    #menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    #menu.active .bar:nth-child(1) {
        transition: 0.15s ease-in;
        transform: translateY(8px) rotate(45deg);
    }

    #menu.active .bar:nth-child(3) {
        transition: 0.15s ease-in;
        transform: translateY(-8px) rotate(-45deg);
    }

    #home {

        h1 {
            font-size: 29px;
        }
    }

    #products-grid {

        h2 {
            font-size: 22px;
        }

        #intro {
            width: 60vw;
            letter-spacing: 0.3px;
        }

        #cart-btn {
            width: 95vw;
        }

        #products-grid1 {
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            max-width: 80vw;

            .each-product {
                width: 210px;
                height: 210px;

                .cost-name {
                    top: 149px;
                    width: 52%;
                    left: -5px;

                    h3 {
                        font-size: 15.5px;
                    }

                    p {
                        font-size: 17px;
                    }
                }

                .item-number {
                    top: 149px;
                    left: -5px;
                    padding: 12.6px 2px;

                    p {
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    #contact {

        h3 {
            font-size: 28px;
        }

        form {

            input {
                width: 40vw;
                font-size: 15px;
            }
        }

        footer {
            font-size: 15px;
        }
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    #cart-page {

        #go-back {
            left: 65%;
        }

        #cart-display-grid {

            .cart-cols {
                margin: 0 20px;

                h5 {
                    font-size: 18px;
                }

                p {
                    font-size: 17px;
                }
            }
        }
    }
}

//818px max width
@media screen and (max-width: 837px) {
    #products-grid {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

        #products-grid1 {

            .each-product {
                width: 210px;
                height: 210px;
                margin-left: 3vw;
            }
        }
    }
}

//680px max width
@media screen and (max-width: 680px) {

    #home {

        h1 {
            font-size: 25px;
        }
    }

    #products-grid {

        #intro {
            width: 80vw;
            letter-spacing: 0.3px;
        }

        #cart-btn {
            width: 95vw;
        }

        #products-grid1 {
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
            max-width: 100vw;

            .each-product {
                width: 170px;
                height: 170px;

                .cost-name {
                    top: 115px;
                    width: 48%;

                    h3 {
                        font-size: 14px;
                    }

                    p {
                        font-size: 15px;
                    }
                }

                .item-number {
                    top: 115px;
                    padding: 10.4px 1px;

                    p {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #contact {

        h3 {
            font-size: 22px;
        }
    }

    button {
        padding: 7px 14px;
        font-size: 14px;
    }

    #cart-page {

        #go-back {
            left: 75%;
        }

        #cart-display-grid {

            .cart-cols {
                margin: 0 15px;

                h5 {
                    font-size: 17px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

//580px max width
@media screen and (max-width: 580px) {

    #products-grid {

        #products-grid1 {
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
            max-width: 550px;
            padding-left: 40px;

            .each-product {
                width: 200px;
                height: 200px;
                margin-left: 0vw;

                .cost-name {
                    top: 145px;
                }

                .item-number {
                    top: 145px;
                }
            }
        }
    }

    #cart-page {

        #go-back {
            left: 75%;
        }
    }
}

//465px max width
@media screen and (max-width: 464px){

    #products-grid {

        #products-grid1 {
            max-width: 100vw;
            padding-left: 20px;
        }
    }
}

//445px max width
@media screen and (max-width: 445px){

    #products-grid{

        #products-grid1 {
            padding-left: 20vw;
        }
    }

    #cart-page {

        #go-back {
            left: 55%;
        }
    }
}

//320px max width
@media screen and (max-width: 320px){

    #products-grid{

        #products-grid1 {
            padding-left: 16vw;
        }
    }

    #cart-page{
        #cart-display-grid {

            .cart-cols {
                margin: 0 10px;
    
                h5 {
                    font-size: 17px;
                }
    
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

//290px max width
@media screen and (max-width: 270px){

    #products-grid{

        #products-grid1 {
            padding-left: 10vw;
        }
    }
}