*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

nav {
  width: 100%;
  height: 55px;
  background-color: #FFF;
  border-bottom: 2px #363537 solid;
}
nav #nav-div {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  height: 100%;
  margin: auto;
}
nav #nav-div div {
  align-self: center;
}
nav #nav-div div svg {
  height: 35px;
  width: 35px;
}
nav #nav-div #menu .bar {
  display: block;
  background-color: #363537;
  width: 25px;
  height: 3.3px;
  margin: 5px auto;
}
nav #nav-div #menu:hover {
  cursor: pointer;
}
nav #nav-div ul {
  align-self: center;
}
nav #nav-div ul li {
  list-style-type: none;
  margin-left: 20px;
  font-size: 17px;
  display: inline;
}
nav #nav-div ul li a {
  color: #363537;
  font-weight: 700;
}
nav #nav-div ul li a:hover {
  color: #FF3E41;
}
nav #nav-div ul li:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  background-color: #FF3E41;
  border: none;
  border-radius: 6px;
  color: #FFF;
}
button a {
  color: #FFF;
}

button:hover {
  background-color: #F56668;
  cursor: pointer;
}

a:focus, button:focus {
  outline: none;
}

section {
  width: 100vw;
}

#home {
  background-image: url(../Images/home-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#home h1 {
  font-weight: 700;
  letter-spacing: -0.4px;
  color: #363537;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

#products-grid {
  padding: 50px 0;
  background-color: #FFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#products-grid h2,
#products-grid #intro {
  margin: auto;
  max-width: 750px;
}
#products-grid h2 {
  text-align: center;
  font-weight: 700;
  color: #FF3E41;
  font-size: 24px;
}
#products-grid #intro {
  font-weight: 400;
  word-wrap: break-word;
  width: 500px;
  text-align: center;
  padding: 6px 0 0 0;
  line-height: 1.7;
  color: #363537;
  letter-spacing: 0.1px;
}
#products-grid #cart-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: auto;
  max-width: 770px;
}
#products-grid #products-grid1 {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 35px;
  margin: auto;
  max-width: 770px;
}
#products-grid #products-grid1 #pizza {
  background-image: url(../Images/pizza.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 #burger {
  background-image: url(../Images/burger.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 #french-fries {
  background-image: url(../Images/french-fries.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 #hot-dog {
  background-image: url(../Images/hotdog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 #donut {
  background: url(../Images/donut.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 #shawarma {
  background: url(../Images/shawarma.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#products-grid #products-grid1 .each-product:hover {
  box-shadow: 0px 10px 20px 5px #cdcdcd;
  cursor: pointer;
}
#products-grid #products-grid1 .each-product {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 240px;
  border-radius: 10px;
}
#products-grid #products-grid1 .each-product .cost-name {
  display: flex;
  flex-direction: column;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 179px;
  width: 53%;
  background-color: #e5e5e5;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 5.5px 9px;
  margin: 0 0 0 10px;
}
#products-grid #products-grid1 .each-product .cost-name h3 {
  font-size: 17px;
  font-weight: 700;
  color: #FF3E41;
  letter-spacing: 0.2px;
}
#products-grid #products-grid1 .each-product .cost-name p {
  color: #363537;
  font-weight: 700;
  font-size: 18px;
}
#products-grid #products-grid1 .each-product .item-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 179px;
  background-color: #e5e5e5;
  padding: 14px 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
#products-grid #products-grid1 .each-product .item-number svg {
  margin: 0 4.5px;
}
#products-grid #products-grid1 .each-product .item-number svg:hover {
  cursor: pointer;
}
#products-grid #products-grid1 .each-product .item-number p {
  font-weight: 700;
  color: #363537;
  font-size: 19px;
  color: #FF3E41;
}

#contact {
  background-color: #e5e5e5;
  padding: 30px 0 18px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#contact h3, #contact footer {
  text-align: center;
}
#contact h3 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.4px;
  color: #363537;
  margin-bottom: 35px;
}
#contact form {
  margin: auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
#contact form input {
  padding: 10px 8px;
  width: 270px;
  margin-right: 20px;
  border: 2px #FF3E41 solid;
  border-radius: 4px;
  background-color: #FFF;
  letter-spacing: 0.7px;
  font-size: 15px;
  font-weight: 400;
}
#contact footer {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
}

#cart-page {
  width: 100%;
}
#cart-page #go-back {
  position: relative;
  top: 100px;
  left: 57%;
}
#cart-page #cart-display-grid {
  display: flex;
  flex-direction: row;
  background-color: #e5e5e5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 30px);
  padding: 20px 0;
  border-radius: 15px;
}
#cart-page #cart-display-grid .cart-cols {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#cart-page #cart-display-grid .cart-cols h5 {
  font-weight: 700;
  font-size: 23px;
  color: #FF3E41;
  text-align: center;
  letter-spacing: 0.1px;
}
#cart-page #cart-display-grid .cart-cols p {
  text-align: center;
  font-size: 21px;
  letter-spacing: 0.3px;
  color: #363537;
  font-weight: 500;
}
#cart-page #cart-display-grid .cart-cols #item-name-col, #cart-page #cart-display-grid .cart-cols #quantity-col, #cart-page #cart-display-grid .cart-cols #cost-col {
  margin-top: 20px;
  line-height: 1.5;
}
#cart-page p {
  font-weight: 700;
  font-size: 25px;
  color: #363537;
}

@media screen and (min-width: 900px) {
  #menu {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  ul {
    position: fixed;
    left: -100%;
    top: 3rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    transition: 0.15s ease-in;
  }
  ul li {
    margin: 10px 0;
  }
  ul.active {
    left: 0;
    border-bottom: 2px #363537 solid;
    transition: 0.15s ease-in;
  }
  #menu {
    display: block;
  }
  #menu.active .bar:nth-child(2) {
    opacity: 0;
  }
  #menu.active .bar:nth-child(1) {
    transition: 0.15s ease-in;
    transform: translateY(8px) rotate(45deg);
  }
  #menu.active .bar:nth-child(3) {
    transition: 0.15s ease-in;
    transform: translateY(-8px) rotate(-45deg);
  }
  #home h1 {
    font-size: 29px;
  }
  #products-grid h2 {
    font-size: 22px;
  }
  #products-grid #intro {
    width: 60vw;
    letter-spacing: 0.3px;
  }
  #products-grid #cart-btn {
    width: 95vw;
  }
  #products-grid #products-grid1 {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    max-width: 660px;
  }
  #products-grid #products-grid1 .each-product {
    width: 210px;
    height: 210px;
  }
  #products-grid #products-grid1 .each-product .cost-name {
    top: 149px;
    width: 52%;
  }
  #products-grid #products-grid1 .each-product .cost-name h3 {
    font-size: 15.5px;
  }
  #products-grid #products-grid1 .each-product .cost-name p {
    font-size: 17px;
  }
  #products-grid #products-grid1 .each-product .item-number {
    top: 149px;
    padding: 12.6px 2px;
  }
  #products-grid #products-grid1 .each-product .item-number p {
    font-weight: 700;
    font-size: 16px;
  }
  #contact h3 {
    font-size: 28px;
  }
  #contact form input {
    width: 40vw;
    font-size: 15px;
  }
  #contact footer {
    font-size: 15px;
  }
  button {
    padding: 8px 16px;
    font-size: 16px;
  }
}/*# sourceMappingURL=styles.css.map */